{% extends 'base.html' %}


{% block header %}
	List
{% endblock header %}


{% block content %}

<div class="row">
{% for car in cars %}
	<div class="col-12">
		<a href="{{ car.get_absolute_url }}">
	<div class="card bg-dark text-white">
			{% if car.car_img %}
			<img src="{{car.car_img.url}}" class="card-img" alt="...">
			{% endif %}
				
		<div class="card-img-overlay">
		  <h5 class="card-title">{{car.make}}</h5>
		  <p class="card-text">{{car.model}}</p>
		  <p class="card-text">{{car.year}}</p>
		</div>
	  </div>
	</a>
	</div>
	
	{% endfor %}
</div>
	
{% endblock content %}
	